.desktop {
    background-color: #dff6ff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.desktop .div {
    background-color: #dff6ff;
}

.desktop .frame {
    background-color: #afd3e2;
    border: 1px solid;
    border-color: #acacac;
    height: 70px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1512px;
}

.desktop .frame-2 {
    background-color: #dff6ff;
    border-radius: 25px;
    height: 47px;
    left: 213px;
    overflow: hidden;
    position: absolute;
    top: 12px;
    width: 373px;
}

.desktop .text-wrapper {
    color: #146c94;
    font-family: "Roboto Slab-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    left: 29px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 13px;
}

.desktop .search {
    height: 20px;
    left: 332px;
    object-fit: cover;
    position: absolute;
    top: 13px;
    width: 20px;
}

.desktop .text-wrapper-2 {
    color: #146c94;
    font-family: "Roboto Slab-Bold", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 13px;
}

.desktop .brightness {
    height: 30px;
    left: 915px;
    object-fit: cover;
    position: absolute;
    top: 20px;
    width: 30px;
}

.desktop .chat {
    height: 30px;
    left: 989px;
    object-fit: cover;
    position: absolute;
    top: 20px;
    width: 30px;
}

.desktop .bell {
    height: 30px;
    left: 1063px;
    object-fit: cover;
    position: absolute;
    top: 20px;
    width: 30px;
}

.desktop .help-web-button {
    height: 30px;
    left: 1137px;
    object-fit: cover;
    position: absolute;
    top: 20px;
    width: 30px;
}

.desktop .overlap-group {
    background-color: #dff6ff;
    height: 47px;
    left: 1215px;
    position: absolute;
    top: 12px;
    width: 139px;
}

.desktop .text-wrapper-3 {
    color: #146c94;
    font-family: "Roboto Slab-Bold", Helvetica;
    font-size: 15px;
    font-weight: 700;
    left: 12px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 12px;
}

.desktop .arrow {
    height: 13px;
    left: 94px;
    position: absolute;
    top: 18px;
    width: 22px;
}

.desktop .frame-3 {
    background-color: #afd3e2;
    border: 1px solid;
    border-color: #146c94;
    height: 912px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 70px;
    width: 206px;
}

.desktop .MANAGE-PATIENTS-wrapper {
    background-color: #19a7ce;
    border: 1px solid;
    border-color: #146c94;
    height: 120px;
    left: 0;
    position: absolute;
    top: 131px;
    width: 206px;
}

.desktop .MANAGE-PATIENTS {
    color: #146c94;
    font-family: "Roboto Slab-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 44px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 27px;
}

.desktop .MANAGE-CLINICAL-wrapper {
    background-color: #19a7ce;
    border: 1px solid;
    border-color: #146c94;
    height: 120px;
    left: 0;
    position: absolute;
    top: 263px;
    width: 206px;
}

.desktop .MANAGE-CLINICAL {
    color: #146c94;
    font-family: "Roboto Slab-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 47px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 11px;
}

.desktop .IMAGE-ANALYSIS-wrapper {
    background-color: #19a7ce;
    border: 1px solid;
    border-color: #146c94;
    height: 120px;
    left: 0;
    position: absolute;
    top: 395px;
    width: 206px;
}

.desktop .IMAGE-ANALYSIS {
    color: #146c94;
    font-family: "Roboto Slab-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 44px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 20px;
}

.desktop .div-wrapper {
    background-color: #19a7ce;
    border: 1px solid;
    border-color: #146c94;
    height: 120px;
    left: 0;
    position: absolute;
    top: 527px;
    width: 206px;
}

.desktop .text-wrapper-4 {
    color: #146c94;
    font-family: "Roboto Slab-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 33px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 43px;
}

.desktop .frame-4 {
    background-color: #19a7ce;
    border: 1px solid;
    border-color: #146c94;
    height: 120px;
    left: 0;
    position: absolute;
    top: 659px;
    width: 206px;
}

.desktop .text-wrapper-5 {
    color: #146c94;
    font-family: "Roboto Slab-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 51px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 43px;
}

.desktop .frame-5 {
    background-color: #19a7ce;
    border: 1px solid;
    border-color: #146c94;
    height: 122px;
    left: 0;
    position: absolute;
    top: 791px;
    width: 206px;
}

.desktop .text-wrapper-6 {
    color: #146c94;
    font-family: "Roboto Slab-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 71px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 43px;
}

.desktop .frame-6 {
    background-color: #19a7ce;
    border: 1px solid;
    border-color: #146c94;
    height: 120px;
    left: 0;
    position: absolute;
    top: -1px;
    width: 206px;
}

.desktop .user {
    height: 50px;
    left: 17px;
    object-fit: cover;
    position: absolute;
    top: 35px;
    width: 50px;
}

.desktop .my-profile {
    color: #146c94;
    font-family: "Roboto Slab-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 103px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 27px;
}

.desktop .frame-7 {
    background-color: #e6e6e6;
    height: 906px;
    left: 1482px;
    position: absolute;
    top: 72px;
    width: 30px;
}

.desktop .rectangle {
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 146px;
    left: 2px;
    position: absolute;
    top: 108px;
    width: 26px;
}

.desktop .img {
    height: 13px;
    left: 4px;
    position: absolute;
    top: 10px;
    width: 22px;
}

.desktop .arrow-2 {
    height: 13px;
    left: 4px;
    position: absolute;
    top: 878px;
    width: 22px;
}

.desktop .text-wrapper-7 {
    color: #146c94;
    font-family: "Roboto Slab-Bold", Helvetica;
    font-size: 36px;
    font-weight: 700;
    left: 263px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 105px;
}
